## package folders
node_modules/
bower_components/
flow-typed/npm/

## bundle folders
public/
dist/

## docs
docs/

## log directories and files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
.coverage/
debug.log*


## environment files
.env
.npmrc

## Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
